<%= turbo_stream.update 'flash' do %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Не удалось удалить академический период. Возможно, с ним связаны расписания.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>