
<%= turbo_stream.update "classrooms" do %>
  <div id="classrooms-list" class="container mb-3" data-classroom-search-target="classroomsList">
    <% if @classrooms.present? %>
      <% @classrooms.each do |classroom| %>
        <div class="col-md-8 align-items-center classroom-item" data-id="<%= classroom.id %>">
          <div class="d-flex gap-3 justify-content-start mb-3">
            <%= render partial: 'classroom', locals: { classroom: classroom } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-info">Аудиторий нет</div>
    <% end %>
  </div>
<% end %>