Лекционная неделя

<%= link_to "Назад",  admin_faculty_student_groups_path( StudentGroup.find(params[:group_id]).faculty_id ), :class => "btn btn-primary" %>

<div class="container-fluid">
  <div class="row m-5" id="period-list">
    <%= render partial: 'special_period_info', collection: @periods, as: :period %>
  </div>

  <div class="row m-5" id="schedule-list">
    <%= render partial: 'daily_schedule', locals: { schedules: @daily_schedules, selected_day: @selected_day, student_group_id: @group, course: @course }  %> 
  </div>

  <%= render partial: 'shared/schedule/offcanvas' %>
</div>