<div>
  <div class="row" id="transfer">
    <div class="col" id="schedules-info">
      <%= render partial: 'shared/schedule/transfer_schedule_cards', locals: {
        default_times: default_times,
        schedules: schedules,
        param: param,
        card_partial: card_partial,
        card_stimulus: card_stimulus,
        card_attributes: card_attributes
      } %>
    </div>
  </div>
</div>