<%= turbo_stream.update "schedule_teachers" do %>
  <div class="list-group">
    <%= collection_radio_buttons :special_schedule, :teacher_id, @teachers, :id, :full_name do |b| %>
      <div>
        <%= b.radio_button data: { turbo: false } %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
<% end %>